.main-container{
    padding-top: 1em;
}
.grid-container{
    padding-top: 24px;
    padding-left: 10vw;
    padding-right: 10vw;
}
.video-player{
    width: 100%;
    height: 390px;
    border-radius: 10.45px;
}
.action-area{
    display: flex;
    justify-content: space-between;
    color:#fff;
}
.text-area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
